@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9828 0.0045 78.2983);
    --foreground: oklch(0.1867 0 0);
    --card: oklch(0.9498 0.0046 78.2977);
    --card-foreground: oklch(0.1867 0 0);
    --popover: oklch(0.9828 0.0045 78.2983);
    --popover-foreground: oklch(0.1867 0 0);
    --primary: oklch(0.6811 0.0927 92.1258);
    --primary-foreground: oklch(0.1867 0 0);
    --secondary: oklch(0.8577 0.0308 25.3224);
    --secondary-foreground: oklch(0.1867 0 0);
    --muted: oklch(0.9168 0.0075 80.7203);
    --muted-foreground: oklch(0.4848 0.0031 106.5162);
    --accent: oklch(0.891 0.029 84.5921);
    --accent-foreground: oklch(0.1867 0 0);
    --destructive: oklch(0.6456 0.0766 19.3662);
    --destructive-foreground: oklch(0.9828 0.0045 78.2983);
    --border: oklch(0.9168 0.0075 80.7203);
    --input: oklch(0.9168 0.0075 80.7203);
    --ring: oklch(0.6811 0.0927 92.1258);
    --chart-1: oklch(0.6811 0.0927 92.1258);
    --chart-2: oklch(0.8577 0.0308 25.3224);
    --chart-3: oklch(0.891 0.029 84.5921);
    --chart-4: oklch(0.1867 0 0);
    --chart-5: oklch(0.9143 0.0022 17.1982);
    --sidebar: oklch(0.9828 0.0045 78.2983);
    --sidebar-foreground: oklch(0.1867 0 0);
    --sidebar-primary: oklch(0.6811 0.0927 92.1258);
    --sidebar-primary-foreground: oklch(0.1867 0 0);
    --sidebar-accent: oklch(0.9498 0.0046 78.2977);
    --sidebar-accent-foreground: oklch(0.1867 0 0);
    --sidebar-border: oklch(0.9168 0.0075 80.7203);
    --sidebar-ring: oklch(0.6811 0.0927 92.1258);
    --font-sans: Work Sans;
    --font-serif: Newsreader;
    --font-mono: monospace;
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 20px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0px 8px 20px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0px 8px 20px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0px 8px 20px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0px 8px 20px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0px 8px 20px 0px hsl(0 0% 0% / 0.1),
        0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0.01em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1867 0 0);
    --foreground: oklch(0.9143 0.0022 17.1982);
    --card: oklch(0.2178 0 0);
    --card-foreground: oklch(0.9143 0.0022 17.1982);
    --popover: oklch(0.1867 0 0);
    --popover-foreground: oklch(0.9143 0.0022 17.1982);
    --primary: oklch(0.6811 0.0927 92.1258);
    --primary-foreground: oklch(0.1867 0 0);
    --secondary: oklch(0.36 0.0612 29.2414);
    --secondary-foreground: oklch(0.8577 0.0308 25.3224);
    --muted: oklch(0.2478 0 0);
    --muted-foreground: oklch(0.7144 0.0038 39.4736);
    --accent: oklch(0.891 0.029 84.5921);
    --accent-foreground: oklch(0.1867 0 0);
    --destructive: oklch(0.3995 0.0481 19.4064);
    --destructive-foreground: oklch(0.9143 0.0022 17.1982);
    --border: oklch(0.2478 0 0);
    --input: oklch(0.2478 0 0);
    --ring: oklch(0.6811 0.0927 92.1258);
    --chart-1: oklch(0.891 0.029 84.5921);
    --chart-2: oklch(0.6811 0.0927 92.1258);
    --chart-3: oklch(0.8577 0.0308 25.3224);
    --chart-4: oklch(0.9143 0.0022 17.1982);
    --chart-5: oklch(0.4848 0.0031 106.5162);
    --sidebar: oklch(0.1867 0 0);
    --sidebar-foreground: oklch(0.9143 0.0022 17.1982);
    --sidebar-primary: oklch(0.891 0.029 84.5921);
    --sidebar-primary-foreground: oklch(0.1867 0 0);
    --sidebar-accent: oklch(0.2178 0 0);
    --sidebar-accent-foreground: oklch(0.891 0.029 84.5921);
    --sidebar-border: oklch(0.2478 0 0);
    --sidebar-ring: oklch(0.6811 0.0927 92.1258);
    --font-sans: Work Sans;
    --font-serif: Newsreader;
    --font-mono: monospace;
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 12px;
    --shadow-blur: 32px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.6;
    --shadow-color: #000000;
    --shadow-2xs: 0px 12px 32px 0px hsl(0 0% 0% / 0.3);
    --shadow-xs: 0px 12px 32px 0px hsl(0 0% 0% / 0.3);
    --shadow-sm:
        0px 12px 32px 0px hsl(0 0% 0% / 0.6),
        0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow:
        0px 12px 32px 0px hsl(0 0% 0% / 0.6),
        0px 1px 2px -1px hsl(0 0% 0% / 0.6);
    --shadow-md:
        0px 12px 32px 0px hsl(0 0% 0% / 0.6),
        0px 2px 4px -1px hsl(0 0% 0% / 0.6);
    --shadow-lg:
        0px 12px 32px 0px hsl(0 0% 0% / 0.6),
        0px 4px 6px -1px hsl(0 0% 0% / 0.6);
    --shadow-xl:
        0px 12px 32px 0px hsl(0 0% 0% / 0.6),
        0px 8px 10px -1px hsl(0 0% 0% / 0.6);
    --shadow-2xl: 0px 12px 32px 0px hsl(0 0% 0% / 1.5);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
